/* Reset some default styles */
body, header, h1, section, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

#plot-container {
    margin-top: 40px;
}

footer{
    /* width: 60%; */
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 5px 0;
}

/* Styles for Plotly chart */
.cufflinks-chart {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Darker background color for the chart */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
