{% extends 'base2.html' %}
{% block title %}
Home Page
{% endblock %}

<!-- {% block content %}
<body class="text-center">
    <br>
    <br>
    <h1>This is our content for the Home Page</h1>
    <section class="form-section">
        <form action="/graph" method="post">
            <label for="stock_symbol">Stock Symbol:</label>
            <input type="text" id="stock_symbol" name="stock_symbol" required />

            <label for="duration">Select Duration:</label>
            <select id="duration" name="duration">
                <option value="1w">1 Week</option>
                <option value="1m">1 Month</option>
                <option value="6m">6 Months</option>
                <option value="1y">1 Year</option>
                <option value="5y">5 Years</option>
            </select>

            <button type="submit">Show Graph</button>
        </form>
    </section>
</body>
{% endblock %} --> 