<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style_index.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <div class="left-column">
            <div class="image">
              <img
                src="../static/images/logo.png"
                alt="logo"
                width="40px"
                height="40px"
              />
            </div>
            <a href="/" class="brand">TRADE BREEZERS</a>
            <div class="nav-links">
              <a href="/home">Home</a>
              <a href="/market">Market</a>
              <a href="/stocks">Compare Stocks</a>
            </div>
          </div>

          <div class="right-container nav-links">
            <a href="#">HELLO USERNAME</a>
            <a href="/login">Log Out</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="graph-container">
      <div class="grid-items" id="griditem3"></div>
      <div class="grid-items form-section" id="griditem4">
        <form action="/graph" method="post" id="stock-form">
          <label for="stock_symbol">Stock Symbols (comma-separated):</label>
          <input type="text" id="stock_symbol" name="stock_symbol" required />

          <label for="duration">Select Duration:</label>
          <select id="duration" name="duration">
            <option value="1w">1 Week</option>
            <option value="1m">1 Month</option>
            <option value="6m">6 Months</option>
            <option value="1y">1 Year</option>
            <option value="5y">5 Years</option>
          </select>

          <input type="text" id="additional_stock" name="additional_stock" />
          <button type="button" id="add-stock-button">Add Another Stock</button>

          <button type="button" id="show-graph-button">Show Graph</button>
        </form>
      </div>
    </div>
    <footer>
      <p>&copy; 2024 Stock Graphs</p>
    </footer>
    <script>
      $(document).ready(function () {
        
        $("#stock-form").submit(function (event) {
          event.preventDefault(); 

          $.ajax({
            type: "POST",
            url: "/graph",
            data: $("#stock-form").serialize(),
            success: function (response) {
              $("#griditem3").html(response);
            },
          });
        });


      });
    </script>
  </body>
</html> -->
{% extends 'base2.html' %}

{%block head%}
    <link rel="stylesheet" href="../static/css/style_index.css"/>
{%endblock%}

{%block title%}
    Compare Stocks
{%endblock%}

{%block link%}
    href="/register"
 {%endblock%}

 {%block register%}
    HELLO USERNAME
 {%endblock%}

 {%block login%}
    LOG OUT
 {%endblock%}

{%block content%}
<div class="graph-container">
  <div class="grid-items " id="griditem3">
    <form action="/graph" method="post" id="stock-form">
      <div class="first">
        <div class="input1">
          <label for="stock_symbol">Stock Symbols</label>
          <input type="text" id="stock_symbol" name="stock_symbol" required />
        </div>
        <div class="input2">
          <label for="duration">Duration:</label>
          <select id="duration" name="duration">
            <option value="1w">1 Week</option>
            <option value="1m">1 Month</option>
            <option value="6m">6 Months</option>
            <option value="1y">1 Year</option>
            <option value="5y">5 Years</option>
          </select>
        </div>
        
      </div>
      <div class="second">
        <button type="button" id="show-graph-button">Show Graph</button>
      </div>
    </form>
  </div>
  <div class="grid-items form-section" id="griditem4">
    
  </div>
</div>
<script>
  $(document).ready(function () {
    
    $("#stock-form").submit(function (event) {
      event.preventDefault(); 

      $.ajax({
        type: "POST",
        url: "/graph",
        data: $("#stock-form").serialize(),
        success: function (response) {
          $("#griditem4").html(response);
        },
      });
    });
    $("#stock-form button").on("click", function () {
          $("#stock-form").submit(); // Trigger the form submission when the button is clicked
    });

  });
</script>
{%endblock%} 