/* styles.css */



.container {
  margin: 20px;
}

table {
  width: 100%;
  /* background: url(../images/bg5.jpg ) repeat center center fixed; */
  background-color: #000000;
  margin-bottom: 20px;
  position: absolute;
  top: 77px;
}

table,
th,
td {
  /* border: 1px solid linear-gradient(135deg, #7a76ff, #7a76ff, #7fe4ff); */
  border-collapse: collapse;
  
}

th,
td {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  /* box-sizing: border-box; */
  border: 1px solid #181e1b; 
  /* background: linear-gradient(135deg, #e33db9, #76ffcf, #e37fff); */
  /* box-shadow: #000000; */
  /* box-shadow: 2px 1000px 2px  #000000 inset; */
  /* background-position: 99%; */

  /* border-image-slice: 1; */
}

/* thead {
  /* background-color: #212529; */
  /* color: white; */
/* } */

thead {
  position: sticky;
  top: 77px;
  z-index: 1;
  background-color: #212529; /* Add the background color for the sticky header */
}
/* tbody tr:nth-child(even) {
  background: url(../images/bg5.jpg ) repeat center center fixed;

} */

tbody tr:hover {
  background-color: #b4b4b4;
}

button {
  padding: 12px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  font-weight: 700;
  /* font-size: 11px; */
  text-transform: uppercase;
  box-sizing: border-box;
  border: solid 1.5px transparent;
  border-radius: 8px;
  font-family: Open Sans, sans-serif;
  cursor: pointer;
  box-shadow: 2px 1000px 1px #0c0c0c inset;
  background-image: linear-gradient(135deg, #7a76ff, #7a76ff, #7fe4ff);
  background-size: 200% 100%;
  background-position: 99%;
  transition: box-shadow 0.4s linear;
  /* transition: background-image  0.4s ease; */
}

.btn-info {
  margin-right: 5px;
  background-color: #17a2b8;
  color: white;
}

.btn-success {
  margin-right: 5px;
  background-color: #28a745;
  color: white;
}

.search {
  float: right;
  margin-top: 10px;
}

.search form {
  display: inline-block;
}

.search input[type="text"] {
  padding: 8px;
}

.search button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search button i {
  font-size: 18px;
}
button:hover {
  /* background-image: #27ae60; */
  background-image: linear-gradient(#7a76ff, #7a76ff, #7a76ff);
  box-shadow: none;

  /* transition: box-shadow 0.1s ease-in-out; */
}
/* Add any additional styles as needed */
