body {
  /* font-family: "Roboto", sans-serif; */
  /* background-color: #212121; Dark background color */
  color: #ffffff; /* Light text color */
  /* margin: 0; */
  background-color:#000000;
  /* padding: 0; */
  text-transform: uppercase;
  /* display: flex; */
  /* flex-direction: column; */
  height: 110vh;
  /* min-height: 150vh; */
  /* background-color: #000018; */
  /* background: url("../images/bg5.jpg") repeat center center fixed; */
  /* background-size: cover; */
  /* opacity:0. ; */
}






button:hover {
  /* background-image: #27ae60; */
  background-image: linear-gradient(#7a76ff, #7a76ff, #7a76ff);
  box-shadow: none;

  /* transition: box-shadow 0.1s ease-in-out; */
}
button {
  padding: 12px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  font-weight: 700;
  /* font-size: 11px; */
  text-transform: uppercase;
  box-sizing: border-box;
  border: solid 1.5px transparent;
  border-radius: 8px;
  font-family: Open Sans, sans-serif;
  cursor: pointer;
  box-shadow: 2px 1000px 1px #0c0c0c inset;
  background-image: linear-gradient(135deg, #7a76ff, #7a76ff, #7fe4ff);
  background-size: 200% 100%;
  background-position: 99%;
  transition: box-shadow 0.4s linear;
  /* transition: background-image  0.4s ease; */
}

select:hover {
  cursor: pointer;
  border-color: #2ec7cc;
}

input:hover {
  border-color: #2ec7cc;
}

input,
select {
  appearance: none;
  text-transform: uppercase;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  /* border: 1px solid #555; Darker border color */
  cursor: text;
  /* opacity: 0.4; */
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff;

  /* appearance: auto; */
  box-sizing: border-box;
  background-color: #0c0c0c; /* Darker background color for input/select */
  color: #fff; /* Light text color for input/select */
  transition: all 0.4s ease;
}


#stock_symbol{
  width: 200px;
}

label {
  display: block;
  /* width: 30%; */
  margin-bottom: 10px;
  margin-top: 10px;
  /* opacity: 1; */
  text-transform: uppercase;
  font-weight: 800;
  color: #ddd; /* Lighter text color for labels */
}
.input0{
  width: 100%;
  
  /* flex-basis: 100%; */
}
.input1{
  width: 50%;
}
.input2{
  width: 50%;
}
.first{
  display: flex;
  
  /* flex-basis: 100px; */
  /* width: 80%; */
  /* align-items: center; */
}
.second{
  display: flex;
  flex-direction: row;
}
#stock-form{
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  /* z-index: 1; */
  /* background: url("../images/bg5.jpg") repeat center center fixed; */
  position: relative;
  /* top: 60%; */
  /* margin-left: auto; */
  margin-bottom: 0px;
  /* height: ; */
  /* top: 80px; */
  /* padding-top: 150px; */
  padding: 20px;
  /* background-color: #000018; Darker background color for the form section */
  /* border-radius: 8px; */
  
}


/* Reset some default styles */

.graph-container{
  position:absolute;
  top: 81px;
  margin-right: 0;
  display: flex;
  /* background: url("../images/bg5.jpg") repeat center center fixed; */
  justify-content: space-evenly;
  width: 100%;
  height: 87.5%;
}
.grid-items{
  /* background-color: #6161b9; */
  /* border-radius: 8px; */
  /* padding: 8px; */
  /* background: url(../images/bg5.jpg) repeat center center fixed; */

}

#griditem3{
  min-width: 36.6%;
  

}
#griditem4{
  width: 63%;

}
#stock_symbol{
  transition: width 0.3s ease-in-out ;
}
.graph{
  width: 100%;
  height: 100%;
  /* background-color: rgba(12, 23, 98, 0.2); */

}
