/* Reset some default styles */
body {
  /* font-family: "Roboto", sans-serif; */
  /* background-color: #212121; Dark background color */
  color: #ffffff; /* Light text color */
  /* margin: 0; */
  background-color: rgb(109, 109, 109);
  /* padding: 0; */
  text-transform: uppercase;
  /* display: flex; */
  /* flex-direction: column; */
  height: 110vh;
  /* min-height: 150vh; */
  /* background-color: #000018; */
  /* background: url("../images/bg5.jpg") repeat center center fixed; */
  /* background-size: cover; */
  /* opacity:0. ; */
}

.graph-container{
  position:absolute;
  top: 81px;
  margin-right: 0;
  display: flex;
  /* background: url("../images/bg5.jpg") repeat center center fixed; */
  justify-content: space-evenly;
  width: 100%;
  height: 87.5%;
}
.grid-items{
  /* background-color: #6161b9; */
  /* border-radius: 8px; */
  /* padding: 8px; */
  background: url(../images/bg5.jpg) repeat center center fixed;

}

#griditem3{
  width: 36.6%;

}
#griditem4{
  background-color: #fff;
  width: 63%;

}
